footer {
  background-color: grey;
  margin-top: 30px;
}

main {
  overflow: auto;
}


.main-page {
  outline: dotted;
  max-width: 100%;
  height: 100%;
}

.wallpaper {
  width: 100%;
  position: absolute;
}
