body {
  margin: none;
  background-color: #808C91;
}

.background-div {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  /*text-align: center;*/
  justify-content: center;
  align-items: center;
}
/*NAV BAR*/

.main-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
  padding-top: 2%;
  padding-right: 20%;
  width: 100%;
  min-width: 400px;
}

.nav-ul {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
}

.nav-ul li {
  /*flex-direction: row;*/
  list-style: none;
  padding-left: 1%;
  padding-right: 1%;
}

.nav-ul li a {
  text-decoration: none;
  color: white;
  font: "helvetica";
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

/*HOMEPAGE CONTENT*/

.main-page {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: none;
}

.squareimgarticle {
  display: flex;
  background-color: none;
}

.sam-square {
  padding:
}

/*RESIZES PROJECT PICS*/

.displayPic {
  width: 200px;
  height: 200px;
}
