.topHead {
 padding: 20px;
 background: #666;
 text-align: center;
}

img {
  height: 100px;
  weight: 100px;
}

.template {
  display: none;
}

#projectSection{
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 300px);
  padding: 20px 20px 20px 20px;
}

.nav {
  /*background: red;*/
  padding: 20px;
  /*background: red;*/
  /*text-align: center;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  /*border: 1px solid #555;*/
  /*text-align: center;*/
  display: inline;
  padding: 1%;
}

ul > li {
  list-style: none;
  display: inline;
  padding: 1px;
  /*text-align: center;*/
  /*border-bottom: 1px solid #555;*/
}

ul > li > a {
  text-decoration: none;
  list-style: none;
}

footer {
  padding: 20px;
  background: #666;
}

.body {
  /*background: pink;*/
  flex-grow: 1;
}

  @media only screen and (min-width: 650px)
    .body
      flex-direction: column
