
.topHead {
 padding: 20px;
 position: relative;
 text-align: center;
 max-width: 100%;
 background-color: grey;


}

.topHead::after{
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  position: absolute;
  opacity: .07;
  z-index: -1;
  background-image:url('../img/geopic1.jpg');
}

body {
  position: relative;
}

.image-container {
  max-width: 25%;
}

.displayPic {
  max-width: 100%;
}

.show-menu {
  font-family: "Helvetica Neue";
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}

input[type=checkbox]:checked ~ #menu {
  display: block;
}

#projectSection{
  display: inline;
}

main {
  height: calc(100vh - 300px);
  padding: 30px 30px 30px 30px;
}

footer {
  padding: 20px;
  background: #666;
}

.main-page-pic {
  max-width: 100%;
}

.floating-title{
  outline: dotted;
  height: 150px;
  width: 100px;
  position: absolute;
}

  @media screen and (min-width: 600px){

ul {
  position: static;
}

li {
  margin-bottom: 1px;
}

}
